'global':
  'exception-reporting':
    'userId': 'd619391d-eaaf-853b-19ca-f0b009e020fc'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'adc103dd04826ea5c13c9d626da7746dcfe0472d'
  'core':
    'themes': [
      'atom-dark-ui'
      'monokai'
    ]
  'editor':
    'invisibles': {}
  'autocomplete':
    'includeCompletionsFromAllBuffers': true
